body {
    background-color: black;
    margin: 0px;
  }

#header{
  text-align: center;
  background-color: darkgray;
  color: black;
  padding: 20px 20px;
}

img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}